{
  "openapi": "3.0.0",
  "info": {
    "title": "Mandaria — API B2B",
    "version": "1.12.0",
    "description": "API server-to-server. Guías: B2B-PUBLIC-GUIDE.md y B2B-WEBHOOKS.md. Las credenciales se provisionan por administración. Aceptación, entrega física y cobro son hechos distintos."
  },
  "servers": [
    {
      "url": "https://mandaria.com.mx",
      "description": "Origen público confirmado por el propietario. Las rutas ya incluyen /api/v1; no añadir ese prefijo a servers.url."
    }
  ],
  "paths": {
    "/api/v1/integrations/token": {
      "post": {
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegrationTokenDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respuesta HTTP 200.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationTokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Respuesta HTTP 401."
          },
          "429": {
            "description": "Respuesta HTTP 429."
          }
        },
        "operationId": "issueToken",
        "summary": "Obtener token B2B",
        "description": "Intercambia clientId y clientSecret por un Bearer temporal. Las credenciales pertenecen al sistema, no a una persona. No hay refresh token B2B.",
        "tags": [
          "Autenticación B2B"
        ],
        "security": []
      }
    },
    "/api/v1/integrations/me": {
      "get": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Respuesta HTTP 200.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationMeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Respuesta HTTP 401."
          }
        },
        "operationId": "integrationProfile",
        "summary": "Consultar mi integración",
        "description": "Devuelve metadata segura y scopes de la integración autenticada.",
        "tags": [
          "Autenticación B2B"
        ],
        "security": [
          {
            "integration-bearer": []
          }
        ]
      }
    },
    "/api/v1/integrations/scope-check": {
      "get": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Respuesta HTTP 200.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "authorized": {
                      "type": "boolean"
                    },
                    "scope": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-scopes": [
          "deliveries:read"
        ],
        "operationId": "checkScope",
        "summary": "Comprobar permiso de lectura",
        "description": "Comprueba deliveries:read sin crear ni modificar solicitudes.",
        "tags": [
          "Autenticación B2B"
        ],
        "security": [
          {
            "integration-bearer": []
          }
        ]
      }
    },
    "/api/v1/delivery-requests": {
      "post": {
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "8–255 caracteres ASCII visibles, único por IntegrationClient. Misma key + mismo payload → misma solicitud (200, Idempotent-Replayed: true). Misma key + payload distinto → 409.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "4f7c0d2e-8d1b-4f0e-9a51-3f7e2c1b9d10"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDeliveryRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respuesta HTTP 200.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryRequestResponse"
                }
              }
            }
          },
          "201": {
            "description": "Respuesta HTTP 201.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryRequestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Respuesta HTTP 400.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string",
                      "example": "VALIDATION_ERROR"
                    },
                    "message": {
                      "type": "string",
                      "example": "Validation failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "maxDrivers must not be less than 1"
                      ]
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Respuesta HTTP 401.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 401
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_401"
                    },
                    "message": {
                      "type": "string",
                      "example": "Request failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Respuesta HTTP 403.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 403
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_403"
                    },
                    "message": {
                      "type": "string",
                      "example": "Forbidden resource"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Respuesta HTTP 409.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 409
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_409"
                    },
                    "message": {
                      "type": "string",
                      "example": "Request failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Respuesta HTTP 429.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 429
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_429"
                    },
                    "message": {
                      "type": "string",
                      "example": "Request failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Respuesta HTTP 500.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 500
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_500"
                    },
                    "message": {
                      "type": "string",
                      "example": "Request failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          }
        },
        "x-scopes": [
          "deliveries:create"
        ],
        "operationId": "createRequest",
        "summary": "Crear solicitud directa",
        "description": "Flujo directo, separado de la conversión de precotizaciones. Requiere Idempotency-Key estable por intención. externalReference no es única. No cotiza ni reserva capacidad.",
        "tags": [
          "Solicitudes"
        ],
        "security": [
          {
            "integration-bearer": []
          }
        ]
      },
      "get": {
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Página, empezando en 1.",
            "schema": {
              "minimum": 1,
              "maximum": 100000,
              "default": 1,
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "required": false,
            "in": "query",
            "description": "Elementos por página; máximo 100.",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 20,
              "type": "integer"
            }
          },
          {
            "name": "publicId",
            "required": false,
            "in": "query",
            "schema": {
              "pattern": "^MDR-\\d{6,}$",
              "example": "MDR-000123",
              "type": "string"
            }
          },
          {
            "name": "externalReference",
            "required": false,
            "in": "query",
            "description": "Coincidencia exacta.",
            "schema": {
              "example": "ORDER-1842",
              "type": "string"
            }
          },
          {
            "name": "status",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "CREATED",
                "CANCELLED"
              ]
            }
          },
          {
            "name": "requestedFrom",
            "required": false,
            "in": "query",
            "description": "requestedAt >= requestedFrom (ISO 8601).",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "name": "requestedTo",
            "required": false,
            "in": "query",
            "description": "requestedAt <= requestedTo (ISO 8601).",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta HTTP 200.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryRequestPageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Respuesta HTTP 400.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string",
                      "example": "VALIDATION_ERROR"
                    },
                    "message": {
                      "type": "string",
                      "example": "Validation failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "maxDrivers must not be less than 1"
                      ]
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Respuesta HTTP 401.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 401
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_401"
                    },
                    "message": {
                      "type": "string",
                      "example": "Request failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Respuesta HTTP 403.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 403
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_403"
                    },
                    "message": {
                      "type": "string",
                      "example": "Forbidden resource"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Respuesta HTTP 429.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 429
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_429"
                    },
                    "message": {
                      "type": "string",
                      "example": "Request failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Respuesta HTTP 500.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 500
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_500"
                    },
                    "message": {
                      "type": "string",
                      "example": "Request failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          }
        },
        "x-scopes": [
          "deliveries:read"
        ],
        "operationId": "listRequests",
        "summary": "Listar mis solicitudes",
        "description": "Lista paginada de solicitudes propias con los filtros documentados.",
        "tags": [
          "Solicitudes"
        ],
        "security": [
          {
            "integration-bearer": []
          }
        ]
      }
    },
    "/api/v1/delivery-requests/{publicId}": {
      "get": {
        "parameters": [
          {
            "name": "publicId",
            "required": true,
            "in": "path",
            "description": "Identificador operacional (MDR-NNNNNN).",
            "schema": {
              "example": "MDR-000123",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta HTTP 200.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryRequestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Respuesta HTTP 400.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string",
                      "example": "VALIDATION_ERROR"
                    },
                    "message": {
                      "type": "string",
                      "example": "Validation failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "maxDrivers must not be less than 1"
                      ]
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Respuesta HTTP 401.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 401
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_401"
                    },
                    "message": {
                      "type": "string",
                      "example": "Request failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Respuesta HTTP 403.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 403
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_403"
                    },
                    "message": {
                      "type": "string",
                      "example": "Forbidden resource"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Respuesta HTTP 404.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 404
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_404"
                    },
                    "message": {
                      "type": "string",
                      "example": "Request failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Respuesta HTTP 429.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 429
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_429"
                    },
                    "message": {
                      "type": "string",
                      "example": "Request failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Respuesta HTTP 500.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 500
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_500"
                    },
                    "message": {
                      "type": "string",
                      "example": "Request failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          }
        },
        "x-scopes": [
          "deliveries:read"
        ],
        "operationId": "getRequest",
        "summary": "Consultar mi solicitud",
        "description": "Consulta la solicitud propia por su identificador MDR.",
        "tags": [
          "Solicitudes"
        ],
        "security": [
          {
            "integration-bearer": []
          }
        ]
      }
    },
    "/api/v1/delivery-requests/{publicId}/status": {
      "get": {
        "parameters": [
          {
            "name": "publicId",
            "required": true,
            "in": "path",
            "description": "Identificador operacional (MDR-NNNNNN).",
            "schema": {
              "example": "MDR-000123",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta HTTP 200.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryStatusResponse"
                },
                "examples": {
                  "open": {
                    "summary": "Servicio disponible",
                    "value": {
                      "publicId": "MDR-000123",
                      "externalReference": "ORDER-4711",
                      "status": "OPEN",
                      "execution": null,
                      "requestedAt": "2026-09-28T10:00:00.000Z",
                      "deliveredAt": null,
                      "cancelledAt": null
                    }
                  },
                  "providerClaimed": {
                    "summary": "Proveedor a cargo",
                    "value": {
                      "publicId": "MDR-000123",
                      "externalReference": "ORDER-4711",
                      "status": "ASSIGNED",
                      "execution": {
                        "mode": "PROVIDER",
                        "provider": {
                          "displayName": "Mensajería Centro"
                        },
                        "driver": null
                      },
                      "requestedAt": "2026-09-28T10:00:00.000Z",
                      "deliveredAt": null,
                      "cancelledAt": null
                    }
                  },
                  "providerAssigned": {
                    "summary": "Repartidor asignado",
                    "value": {
                      "publicId": "MDR-000123",
                      "externalReference": "ORDER-4711",
                      "status": "ASSIGNED",
                      "execution": {
                        "mode": "PROVIDER",
                        "provider": {
                          "displayName": "Mensajería Centro"
                        },
                        "driver": {
                          "displayName": "Alex"
                        }
                      },
                      "requestedAt": "2026-09-28T10:00:00.000Z",
                      "deliveredAt": null,
                      "cancelledAt": null
                    }
                  },
                  "independent": {
                    "summary": "Repartidor independiente",
                    "value": {
                      "publicId": "MDR-000123",
                      "externalReference": "ORDER-4711",
                      "status": "ASSIGNED",
                      "execution": {
                        "mode": "INDEPENDENT",
                        "provider": null,
                        "driver": {
                          "displayName": "Alex"
                        }
                      },
                      "requestedAt": "2026-09-28T10:00:00.000Z",
                      "deliveredAt": null,
                      "cancelledAt": null
                    }
                  },
                  "delivered": {
                    "summary": "Entrega física completada",
                    "value": {
                      "publicId": "MDR-000123",
                      "externalReference": "ORDER-4711",
                      "status": "DELIVERED",
                      "execution": {
                        "mode": "PROVIDER",
                        "provider": {
                          "displayName": "Mensajería Centro"
                        },
                        "driver": {
                          "displayName": "Alex"
                        }
                      },
                      "requestedAt": "2026-09-28T10:00:00.000Z",
                      "deliveredAt": "2026-09-28T10:30:00.000Z",
                      "cancelledAt": null
                    }
                  },
                  "identityNotConfigured": {
                    "summary": "Identidad pública no configurada",
                    "value": {
                      "publicId": "MDR-000123",
                      "externalReference": "ORDER-4711",
                      "status": "ASSIGNED",
                      "execution": {
                        "mode": "INDEPENDENT",
                        "provider": null,
                        "driver": null
                      },
                      "requestedAt": "2026-09-28T10:00:00.000Z",
                      "deliveredAt": null,
                      "cancelledAt": null
                    }
                  },
                  "historicalDelivery": {
                    "summary": "Entrega histórica",
                    "value": {
                      "publicId": "MDR-000123",
                      "externalReference": "ORDER-4711",
                      "status": "DELIVERED",
                      "execution": {
                        "mode": "PROVIDER",
                        "provider": null,
                        "driver": null
                      },
                      "requestedAt": "2026-09-28T10:00:00.000Z",
                      "deliveredAt": "2026-09-28T10:30:00.000Z",
                      "cancelledAt": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Respuesta HTTP 400.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string",
                      "example": "VALIDATION_ERROR"
                    },
                    "message": {
                      "type": "string",
                      "example": "Validation failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "maxDrivers must not be less than 1"
                      ]
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Respuesta HTTP 401.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 401
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_401"
                    },
                    "message": {
                      "type": "string",
                      "example": "Request failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Respuesta HTTP 403.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 403
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_403"
                    },
                    "message": {
                      "type": "string",
                      "example": "Forbidden resource"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Respuesta HTTP 404.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 404
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_404"
                    },
                    "message": {
                      "type": "string",
                      "example": "Request failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Respuesta HTTP 429.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 429
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_429"
                    },
                    "message": {
                      "type": "string",
                      "example": "Request failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Respuesta HTTP 500.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 500
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_500"
                    },
                    "message": {
                      "type": "string",
                      "example": "Request failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          }
        },
        "x-scopes": [
          "deliveries:read"
        ],
        "operationId": "requestStatus",
        "summary": "Consultar estado logístico",
        "description": "Estado público e identidad visible de ejecución. DELIVERED significa entrega física, no confirmación de cobro.",
        "tags": [
          "Solicitudes"
        ],
        "security": [
          {
            "integration-bearer": []
          }
        ]
      }
    },
    "/api/v1/delivery-requests/{publicId}/cancel": {
      "post": {
        "parameters": [
          {
            "name": "publicId",
            "required": true,
            "in": "path",
            "description": "Identificador operacional (MDR-NNNNNN).",
            "schema": {
              "example": "MDR-000123",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelDeliveryRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respuesta HTTP 200.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryRequestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Respuesta HTTP 400.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string",
                      "example": "VALIDATION_ERROR"
                    },
                    "message": {
                      "type": "string",
                      "example": "Validation failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "maxDrivers must not be less than 1"
                      ]
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Respuesta HTTP 401.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 401
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_401"
                    },
                    "message": {
                      "type": "string",
                      "example": "Request failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Respuesta HTTP 403.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 403
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_403"
                    },
                    "message": {
                      "type": "string",
                      "example": "Forbidden resource"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Respuesta HTTP 404.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 404
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_404"
                    },
                    "message": {
                      "type": "string",
                      "example": "Request failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Respuesta HTTP 429.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 429
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_429"
                    },
                    "message": {
                      "type": "string",
                      "example": "Request failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Respuesta HTTP 500.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 500
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_500"
                    },
                    "message": {
                      "type": "string",
                      "example": "Request failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          }
        },
        "x-scopes": [
          "deliveries:cancel"
        ],
        "operationId": "cancelRequest",
        "summary": "Cancelar mi solicitud",
        "description": "Repetir sobre la misma MDR conserva fecha y razón originales. Admite cotización convertida vencida. Antes de reemplazar: confirmar MDR CANCELLED con cancelledAt y estado público CANCELLED/EXPIRED con deliveredAt null. Un 200 no descarta entrega previa. No continuar ante resultado incierto; no implica reembolso ni otra transferencia de comida.",
        "tags": [
          "Solicitudes"
        ],
        "security": [
          {
            "integration-bearer": []
          }
        ]
      }
    },
    "/api/v1/delivery-requests/{publicId}/quotes": {
      "post": {
        "parameters": [
          {
            "name": "publicId",
            "required": true,
            "in": "path",
            "description": "DeliveryRequest propia.",
            "schema": {
              "example": "MDR-000001",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta HTTP 200.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryQuoteResponse"
                }
              }
            }
          },
          "201": {
            "description": "Respuesta HTTP 201.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryQuoteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Respuesta HTTP 400.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string",
                      "example": "VALIDATION_ERROR"
                    },
                    "message": {
                      "type": "string",
                      "example": "Validation failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "maxDrivers must not be less than 1"
                      ]
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Respuesta HTTP 401.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 401
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_401"
                    },
                    "message": {
                      "type": "string",
                      "example": "Request failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Respuesta HTTP 403.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 403
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_403"
                    },
                    "message": {
                      "type": "string",
                      "example": "Forbidden resource"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Respuesta HTTP 404.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 404
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_404"
                    },
                    "message": {
                      "type": "string",
                      "example": "Request failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Respuesta HTTP 409. Códigos posibles: PREQUOTE_REQUOTE_NOT_ALLOWED, DELIVERY_REQUEST_NOT_QUOTABLE.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 409
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_409"
                    },
                    "message": {
                      "type": "string",
                      "example": "Request failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Respuesta HTTP 422. Códigos posibles: OUT_OF_SERVICE_AREA, CROSS_ZONE_NOT_SUPPORTED, ROUTE_NOT_FOUND, DISTANCE_NOT_SUPPORTED.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 422
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_422"
                    },
                    "message": {
                      "type": "string",
                      "example": "Request failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Respuesta HTTP 429.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 429
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_429"
                    },
                    "message": {
                      "type": "string",
                      "example": "Request failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Respuesta HTTP 500.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 500
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_500"
                    },
                    "message": {
                      "type": "string",
                      "example": "Request failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Respuesta HTTP 503. Códigos posibles: ROUTING_UNAVAILABLE, RATE_CONFIGURATION_UNAVAILABLE, RATE_CONFIGURATION_INVALID, SERVICE_ZONE_AMBIGUOUS.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 503
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_503"
                    },
                    "message": {
                      "type": "string",
                      "example": "Request failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          }
        },
        "x-scopes": [
          "quotes:create"
        ],
        "operationId": "createQuote",
        "summary": "Cotizar solicitud directa",
        "description": "Cotiza una solicitud del flujo directo. No permite recotizar una solicitud convertida desde MPQ.",
        "tags": [
          "Cotizaciones"
        ],
        "security": [
          {
            "integration-bearer": []
          }
        ]
      },
      "get": {
        "parameters": [
          {
            "name": "publicId",
            "required": true,
            "in": "path",
            "description": "DeliveryRequest propia.",
            "schema": {
              "example": "MDR-000001",
              "type": "string"
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Página, empezando en 1.",
            "schema": {
              "minimum": 1,
              "maximum": 100000,
              "default": 1,
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "required": false,
            "in": "query",
            "description": "Elementos por página; máximo 100.",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 20,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta HTTP 200.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryQuotePageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Respuesta HTTP 400.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string",
                      "example": "VALIDATION_ERROR"
                    },
                    "message": {
                      "type": "string",
                      "example": "Validation failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "maxDrivers must not be less than 1"
                      ]
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Respuesta HTTP 401.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 401
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_401"
                    },
                    "message": {
                      "type": "string",
                      "example": "Request failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Respuesta HTTP 403.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 403
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_403"
                    },
                    "message": {
                      "type": "string",
                      "example": "Forbidden resource"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Respuesta HTTP 404.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 404
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_404"
                    },
                    "message": {
                      "type": "string",
                      "example": "Request failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Respuesta HTTP 429.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 429
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_429"
                    },
                    "message": {
                      "type": "string",
                      "example": "Request failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Respuesta HTTP 500.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "code",
                    "message",
                    "errors",
                    "timestamp",
                    "path",
                    "requestId"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 500
                    },
                    "code": {
                      "type": "string",
                      "example": "HTTP_500"
                    },
                    "message": {
                      "type": "string",
                      "example": "Request failed"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/admin/providers"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Correlación generada por Mandaria; también en X-Request-Id. Conservar junto con code y statusCode."
                    }
                  }
                }
              }
            }
          }
        },
[...]
